@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar {
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    background-color: #f0f0f0;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #cdcdcd;
  }

  .dark .scrollbar::-webkit-scrollbar {
    background-color: #1c252e;
  }

  /* Add a thumb */
  .dark .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
  }
}
