@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: gray;
  }

  .dark.scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }

  .dark.scrollbar::-webkit-scrollbar {
    @apply bg-neutral-200;
  }

  .dark.scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: lightgray;
  }

  .scrollbar::-webkit-scrollbar {
    background-color: lightgray;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
  }
}
